PORT=5005
NODE_ENV=development
RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_NOTIFICATION_EXCHANGE=notification_exchange
RABBITMQ_NOTIFICATION_QUEUE=notification_queue
RABBITMQ_ROUTING_KEY=notification.password_reset
RABBITMQ_NOTIFICATION_RETRY_EXCHANGE=notification_retry_exchange
RABBITMQ_NOTIFICATION_RETRY_QUEUE=notification_retry_queue
RABBITMQ_NOTIFICATION_DLX=notification_dlx
RABBITMQ_NOTIFICATION_DLQ=notification_dlq
RABBITMQ_RETRY_DELAY_MS=30000
RABBITMQ_MAX_RETRIES=3
